<div class="imwidget">
    <%= image_grab(StaticPage.nav2.first).html_safe %>
</div>
<div class="spacewidget"></div>
<div class="midwidget">
    <div class="headerbox">
      <h2><%= title %></h2>
    </div>
    <div class="excerpt"><%= body %></div>
</div>