- content_for :header do
  %ul.mainnav
    %li 
      %a Deisgn
      %span &#124;
    %li
      %a Products
      %span &#124;
    %li
      %a Interiors
    %li Furniture
    %li consultancy
    %li Workplace
    %li Events
