- content_for :header do
  %ul.mainnav
    %li 
      %a Deisgn
      %span &#124;
    %li
      %a Products
      %span &#124;
    %li
      %a Interiors
      %span &#124;
    %li
      %a Furniture
      %span &#124;
    %li
      %a Consultancy
      %span &#124;
    %li
      %a Workplace
      %span &#124;
    %li
      %a Events
