/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_self
 *= twitter/bootstrap
 *= require home
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
html{
	background-color: #000;
	height: 100%;
}
body{
	height: 100%;
}
.top{
	height:5%;
	min-height:20px;
	width:100%;
	top:0px;
	background-color: #fff;
	text-align: justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}
.bottom{
	width:100%;
	height:9%;
	min-height:31px;
	background-color: #fff;
	position:absolute;
	bottom:0px;
}
.spacer{
  height:5%;
  width:100%;
  display:block;
  clear:both;
}
.mainnav{
	margin-left: 0;
	padding-left: 0;
	width:100%;
	margin:0px;
	padding:0px 8%;
	float:left;
}
.mainnav li{
	margin-left: 0;
	list-style: none;
	float:left;
	width:14%;
 }
.mainnav li a{
  width:100%;
  text-align:center;
  margin-left:-1px;
  float:left;
}
.mainnav li span{
  width:1px;
  overflow:visible;
  display:inline-block;
}
.fill{
  width:100%;
  height:100%;
  display:block;
}
.logonav{
  -moz-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -o-transform: scale(1.6);
  -moz-transform-origin: right bottom;
  -webkit-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  background-color: #fff;
  float:right;
  width: 100%;
  position:relative;
  overflow:visible;
  height:100%;
  clear:both;
}
.lnc{
  width: 20%;
  min-width:200px;
  position:absolute;
  height:100%;
  display:block;
  bottom:98%;
  right:0px;
}
.botspace{
  height:100%;
  width:100%;
  display:block;
  position:relative;
  clear:both;
}
