body {
    font-family: "Lucida Bright";
    font-size: 12px;
    line-height: 19px;
    color: rgb(51, 51, 51);
}
h1,
h2,
h3 {
  font-family: 'Futura-CondensedExtraBold','Open Sans Condensed',Arial,sans-serif;
  line-height: 16px;
  text-transform:uppercase;
  letter-spacing: 8px;
  padding:12px 6px 12px 12px;
  color:#fff;
  background-color:#333;
  width:30%;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}