// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require frontend
*/
.main{
  width:50%;
  height:86%;
  float:left;
}
.righttop, .rightbot{
  width:50%;
  display:block;
  height:43%;
  float:right;
}
.widewidget{
  height: 100%;
  width: 100%;
  display:block;
  position:relative;
}
.midwidget{
  height:75%;
  width:90%;
  margin:0% 5%;
  background-color: rgba(255,255,255,.8);
  float:left;
  overflow:auto;
  padding:1em 1.6em;
}
.spacewidget{
  height: 100%;
  width:2%;
  float:left;
}
.imwidget{
  height:auto;
  min-width:10%;
  width:20%;
  background-color: rgba(255,255,255,.8);
  float:left;
  position: relative;
  display:100%;
}
.next{
  height:10%;
  width:90%;
  margin-left:5%;
  display:block;
  clear:both;
  background-color: rgba(255,255,255,.8);
}
.excerpt{
  padding:1em 1em;
  letter-spacing:1px;
  font-style:italic;
}
.dummy{
 margin-top:100%; /* 4:3 aspect ratio */
}
.imnav{
  width:62%;
  float:right;
  height:100%;
  display:block;
}
.hltitle{
  width:36%;
  overflow:hidden;
  float:left;
}
.imnav li{
  width:33%;
  overflow:hidden;
  float:left;
  display:inline-block;
  position:relative;
}
.imnav li a{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.image{
  margin:5%;
  height:90%;
  width:90%;
  display: block;
}

