.spacer
.widewidget
.spacer
.spacer
:javascript
  $(function() {
    erraticpages = #{@static_pages.to_json.html_safe};
    window.router = new Skara.Routers.StaticPagesRouter({static_pages: erraticpages});
    Backbone.history.start({pushState: true, silent: false});
  });